.header-div {
    border-bottom: 3px solid darkcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    font-size: 21px;
} 

.hamburger {
    height: 21px;
    left: 20px;
    position: absolute;
}

.dropDown-menu {
    margin: auto;
}

.search-field {
    border: 1px solid darkcyan;
    border-radius: 3px;
    display: block;
    height: 35px;
    width: 300px;
    margin: 20px auto;
}

.menu-button {
    background-color: darkcyan;
    border-radius: 3px;
    border: none;
    display: inline-block;
    color: white;
    font-size: 14px;
    margin: 0 2% 5px 2%;
    height: 40px;
    width: 44%;
    vertical-align: top;
}