.header-div {
    border-bottom: 3px solid darkcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
    height: 75px;
}

.fa-bars {
    font-size: 21px;
} 

.hamburger {
    height: 21px;
    left: 20px;
    position: absolute;
}

.dropDown-menu {
    margin: auto;
    position: relative;
    top: 76px;
    z-index: 2;
    background-color: white;
    padding-bottom: 20px;
}

.search-list-container {
    border: 1px solid blue;
    height: 200px;
    width: 300px;
    margin: auto;
}

.search-field {
    border: 1px solid darkcyan;
    border-radius: 3px;
    display: block;
    height: 35px;
    width: 300px;
    margin: 20px auto;
}

.button-container {
    width: 300px;
    margin: auto;
}

.button {
    background-color: darkcyan;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
    margin-top: 10px;
    width: 140px;
}

.left {
    margin-right: 20px;
}